/* Styles go here */
.sapUiMedia-Std-Phone .lpTile {margin: 8px 0 0 8px;}
.sapUiMedia-Std-Phone .lpSearch {padding: 1rem 10px 5rem 10px !important;}
.sapUiMedia-Std-Phone .lpFlexBox {padding-left: auto; padding-right: 0px; margin-right: auto; height: auto !important;}
.sapUiMedia-Std-Phone .lpHeader {padding-bottom: 0px; padding-left: 0px; margin-bottom: 0px; margin-left: 8px;}
.sapUiMedia-Std-Phone .lpHeaderText {color: white; font-size: 1.125rem}

.sapUiMedia-Std-Tablet .lpTile {margin: 10px 0 0 10px;}
.sapUiMedia-Std-Tablet .lpSearch {padding: 1rem 10px 5rem 10px !important;}
.sapUiMedia-Std-Tablet .lpFlexBox {padding-left: 1rem; padding-right: 0px; margin-right: auto; height: auto !important;}
.sapUiMedia-Std-Tablet .lpHeader {padding-bottom: 0px; padding-left: 0px; margin-bottom: 0px; margin-left: 8px;}
.sapUiMedia-Std-Tablet .lpHeaderText {color: white; font-size: 1.5rem}

.sapUiMedia-Std-Desktop	.lpTile {margin: 10px 0 0 10px;}
.sapUiMedia-Std-Desktop .lpSearch {padding: 1rem 10px 5rem 10px !important;}
.sapUiMedia-Std-Desktop .lpFlexBox {padding-left: 5rem; padding-right: 0px; margin-right: auto; height: auto !important;}
.sapUiMedia-Std-Desktop .lpHeader {padding-bottom: 0px; padding-left: 0px; margin-bottom: 0px; margin-left: 8px;}
.sapUiMedia-Std-Desktop .lpHeaderText {color  : white; font-size: 1.5rem}

/*
@media all {
  .page-break	{ display: none; }
}
*/

/* PRINT STYLES */
@media print {
    /* usage of !important hard overwrites, because UI5 uses inline style directives (style="width:990px")  */
    /* define print page default settings */
    @page {
      size: portrait;
      margin: 1.5cm 1cm;
    }

    /* scale content to fit print page */
    html, body {
      width: 100% !important;
      height: auto !important;
    }

    /* reset body */
    body {
      margin: 0;
      padding: 0;
      float: none;
      color: #000;
    }

    /* helper class to allow selective hiding elements from printing (ex print button)  */
    .uoNoPrint {
      display: none;
    }

    /* fix overflow scrolling */
    * {
      overflow-x: visible !important;
      overflow-y: visible !important;
    }

    /* auto expand collapsed panel contents */
    .sapMPanelExpandablePart {
      display: block !important;
    }

    /* disable panel content border */
    .sapMPanelContent {
      border: 0 !important;
    }

    /* reset flexed textareas height */
    .sapMTextArea>.sapMTextAreaInner {
      height: auto !important;
    }

    .sapMPageHeader {
      display: none;
    }

    .sapUiUfdShellHead {
      display: none;
    }

    /* custom css prototypes for addtional used containers */
    .page-break	{
      -webkit-region-break-before: always;
      page-break-before: always;
      break-before: always;
      height: 600px;
    }

    .no-page-break {
      page-break-inside: avoid !important;
    }
}
