/* Styles go here */
.sapUiMedia-Std-Phone .lpTile {margin: 8px 0 0 8px;}
.sapUiMedia-Std-Phone .lpSearch {padding: 1rem 10px 5rem 10px !important;}
.sapUiMedia-Std-Phone .lpFlexBox {padding-left: auto; padding-right: 0px; margin-right: auto; height: auto !important;}
.sapUiMedia-Std-Phone .lpHeader {padding-bottom: 0px; padding-left: 0px; margin-bottom: 0px; margin-left: 8px;}
.sapUiMedia-Std-Phone .lpHeaderText {color: white; font-size: 1.125rem}

.sapUiMedia-Std-Tablet .lpTile {margin: 10px 0 0 10px;}
.sapUiMedia-Std-Tablet .lpSearch {padding: 1rem 10px 5rem 10px !important;}
.sapUiMedia-Std-Tablet .lpFlexBox {padding-left: 1rem; padding-right: 0px; margin-right: auto; height: auto !important;}
.sapUiMedia-Std-Tablet .lpHeader {padding-bottom: 0px; padding-left: 0px; margin-bottom: 0px; margin-left: 8px;}
.sapUiMedia-Std-Tablet .lpHeaderText {color: white; font-size: 1.5rem}

.sapUiMedia-Std-Desktop	.lpTile {margin: 10px 0 0 10px;}
.sapUiMedia-Std-Desktop .lpSearch {padding: 1rem 10px 5rem 10px !important;}
.sapUiMedia-Std-Desktop .lpFlexBox {padding-left: 5rem; padding-right: 0px; margin-right: auto; height: auto !important;}
.sapUiMedia-Std-Desktop .lpHeader {padding-bottom: 0px; padding-left: 0px; margin-bottom: 0px; margin-left: 8px;}
.sapUiMedia-Std-Desktop .lpHeaderText {color  : white; font-size: 1.5rem}

.sapMLIBIconDet {
  margin-right: 0 !important;
}
